.input-component {
  position: relative;
  color: var(--blue-1);

  .label-group {
    display: flex;
    margin-bottom: 0.25rem;
    label {
      transition: none;
      font-size: 0.75rem;

      &:last-child {
        text-align: right;
        font-weight: 700;
      }
    }
  }

  .input {
    width: calc(100% - 2.125rem);
    padding: 1rem;
    border: solid 1px var(--dark-blue-1);
    border-radius: var(--border-radius);
    transition: none;
    position: relative;
    display: flex;
    gap: 1rem;

    input {
      color: var(--blue-1);
      font-size: 1rem;
      outline: none;
      flex: 1;
    }
  }

  &:focus-within {
    .label-group {
      label {
        font-weight: 700;
      }
    }

    .input {
      outline: solid 0.125rem var(--dark-blue-1);
    }

    &.error {
      .input {
        outline-color: var(--error);
      }
    }

    .input-tooltip.show {
      opacity: 1;
      z-index: 0;
    }
  }

  &.error {
    .label-group {
      color: var(--error);
      justify-content: space-between;
      align-items: center;
    }

    .input {
      border-color: var(--error);
      outline-color: var(--error);

      input {
        color: var(--error);
      }
    }
  }

  .input-tooltip {
    position: absolute;
    color: var(--dark-blue-2);
    bottom: calc(100% + 0.5rem);
    left: 50%;
    transform: translate(-50%);
    width: calc(100vw - 6rem);
    max-width: 28.5rem;
    height: fit-content;
    padding: 1rem;
    background-color: white;
    opacity: 0;
    border-radius: var(--border-radius);
    box-shadow: 0.125rem 0 1rem #ababab;
    z-index: -1;

    .password-requirements {
      width: 100%;
      margin-block: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .input-component {
    .input-tooltip {
      position: absolute;
      left: unset;
      top: unset;
      width: unset;
      white-space: nowrap;
      bottom: 0;
      transform: none;
      right: calc(100% + 2rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
