.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: var(--border-radius);

  &.submit {
    background-color: var(--blue-1);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border: solid 0.125rem var(--blue-1);
    padding-block: 19px;

    &:hover {
      background-color: white;
      color: var(--blue-1);
    }
  }

  &.link {
    background-color: var(--green-1);
    border: solid 0.125rem var(--green-1);
    font-size: 1rem;

    a {
      color: white;
      flex: 1;
      text-decoration: none;
      padding-block: 19px;
    }

    &:hover {
      background-color: white;
      a {
        color: var(--green-1);
      }
    }
  }

  &:disabled {
    background-color: var(--gray);
    border-color: var(--gray);

    &:hover {
      cursor: not-allowed;
      background-color: var(--gray);
      color: white;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
