:root {
 --left: 1rem;
}

@media (min-width: 1024px) {
  :root {
    --left: 5rem;
  }
}

.logo {
  width: 10rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  animation: moveFromCenterToTop 2s ease-in-out 2s forwards;

  path {
    &:nth-child(3),
    &:nth-child(4) {
      animation: slideIn 2s ease-in-out forwards;
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromCenterToTop{
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
  }

  100% {
    position: absolute;
    transform: translate(0, 0) scale(1);
    top: 2rem;
    left: var(--left);
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 15rem;
  }
}
