main {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex: 1;

  hgroup {
    text-align: center;
    display: grid;
    gap: 1.5rem;

    h1 {
      font-size: 2rem;
      color: var(--blue-1);
      margin-block: 0;
    }

    p {
      color: var(--dark-blue-1);
      line-height: 1.875;
      margin-block: 0;
    }
  }

  form {
    display: grid;
    gap: 1.5rem;
    max-width: 32.5rem;
    width: 100%;

    .input-group {
      background-color: white;
      border-radius: var(--border-radius);
      padding: 1rem;
      display: grid;
      gap: 1.5rem;
    }

    .term-group {
      ul {
        margin-block: 0;
        padding: 0;
        list-style-type: none;
        display: grid;
        gap: 1rem;
      }
    }

    .btn-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .brand-name {
    color: var(--dark-blue-1);
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;

    hgroup {
      text-align: start;
      max-width: 39.25rem;
      h1 {
        font-size: 5rem;
      }
    }
  }
}
