header {
  position: relative;
  padding: 2rem 1rem;
  min-height: 7.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  animation: appear 1s ease-in-out forwards;
  z-index: 1;
}

main {
  padding: 0 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex: 1;
  animation: appear 1s ease-in-out forwards;

  hgroup {
    text-align: center;
    display: grid;
    gap: 1.5rem;

    h1 {
      font-size: 2rem;
      color: var(--blue-1);
      margin-block: 0;

      span {
        overflow: hidden;
        display: inline-block;
        text {
          display: block;
          animation: moveRight 0.5s ease-in-out 1.5s forwards;
          transform: translateX(-100%);
        }
        &:first-child {
          text {
            animation: moveUp 0.5s ease-in-out 1s forwards;
            transform: translateY(-100%);
          }
        }
        &:last-child {
          text {
            animation: moveDown 0.5s ease-in-out 2s forwards;
            transform: translateY(100%);
          }
        }
      }
    }

    p {
      color: var(--dark-blue-1);
      line-height: 1.875;
      margin-block: 0;
    }
  }

  form {
    display: grid;
    gap: 1.5rem;
    max-width: 32.5rem;
    width: 100%;

    .input-group {
      background-color: white;
      border-radius: var(--border-radius);
      padding: 1rem;
      display: grid;
      gap: 1.5rem;
    }

    .term-group {
      ul {
        margin-block: 0;
        padding: 0;
        list-style-type: none;
        display: grid;
        gap: 1rem;
      }
    }

    .btn-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }

    &.fade-out {
      animation: disappear 1s ease-in-out forwards;
    }
  }

  .submitted-img {
    opacity: 0;
    max-width: 100%;
    animation: confirmFadeIn 1s ease-in-out forwards;
  }

  .brand-name {
    color: var(--dark-blue-1);
    font-weight: 700;
  }

  &.no-pointer-event {
    pointer-events: none;
  }
}

@media screen and (min-width: 1024px) {
  header {
    top: 2rem;
    right: 5rem;
    padding: 0;
  }

  main {
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;

    hgroup {
      text-align: start;
      max-width: 39.25rem;
      h1 {
        font-size: 5rem;
      }
    }
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    display: flex;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10%);
    display: none;
  }
}

@keyframes confirmFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
