@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --yellow-1: #ffd717;
  --yellow-2: #e5c115;
  --blue-1: #0d63a5;
  --blue-2: #094573;
  --dark-blue-1: #083358;
  --dark-blue-2: #062540;

  --gray: #ababab;
}

body {
  min-height: 100vh;
  background-color: var(--yellow-1);
  margin: 0;
}

body,
button,
input,
a {
  font-family: Poppins, sans-serif;
}
